body,html{
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden; 
  background-color: #141717;
}
body{
  display: flex;
  justify-content: center;
  align-items: center; 
}
svg{
  height: 100%;
  width: 100%;
}
.fade-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: "Playfair Display", serif;
  font-size: 3rem;
  color: white;
  opacity: 0;
  animation: fadeIn 4s ease forwards;
  text-align: center;
  letter-spacing: 2px;
  animation-delay: 2s;

}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translate(-50%, -55%);
  }
  60% {
    opacity: 1;
    transform: translate(-50%, -50%);
  }
  100% {
    opacity: 1;
  }
}
